attrs==24.2.0
fastjsonschema==2.20.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
nb-clean==4.0.1
nbformat==5.10.4
platformdirs==4.3.6
referencing==0.35.1
rpds-py==0.21.0
traitlets==5.14.3
